body {
    font-family: 'Roboto', sans-serif;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='5000' preserveAspectRatio='none' viewBox='0 0 1920 5000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1070%26quot%3b)' fill='none'%3e%3crect width='1920' height='5000' x='0' y='0' fill='rgba(17%2c 24%2c 39%2c 1)'%3e%3c/rect%3e%3cpath d='M-443.96 842.91 a448.69 448.69 0 1 0 897.38 0 a448.69 448.69 0 1 0 -897.38 0z' fill='rgba(40%2c 52%2c 68%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1501.321%2c3256.14C1597.596%2c3262.11%2c1702.529%2c3241.547%2c1753.485%2c3159.645C1806.671%2c3074.16%2c1789.378%2c2963.948%2c1736.363%2c2878.357C1686.209%2c2797.385%2c1596.567%2c2752.104%2c1501.321%2c2752.536C1406.864%2c2752.964%2c1314.596%2c2797.235%2c1269.942%2c2880.472C1227.296%2c2959.966%2c1250.763%2c3054.593%2c1298.072%2c3131.404C1342.752%2c3203.947%2c1416.286%2c3250.867%2c1501.321%2c3256.14' fill='rgba(40%2c 52%2c 68%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1514.894%2c1293.361C1586.379%2c1292.586%2c1652.483%2c1255.682%2c1688.563%2c1193.966C1724.988%2c1131.66%2c1724.377%2c1056.008%2c1691.092%2c991.97C1654.804%2c922.155%2c1593.295%2c866.496%2c1514.894%2c859.839C1423.739%2c852.099%2c1320.996%2c876.175%2c1277.932%2c956.888C1236.311%2c1034.897%2c1283.665%2c1125.515%2c1334.575%2c1197.805C1376.555%2c1257.414%2c1441.99%2c1294.152%2c1514.894%2c1293.361' fill='rgba(40%2c 52%2c 68%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M297.034%2c616.332C375.874%2c610.958%2c430.486%2c543.8%2c465.436%2c472.926C495.936%2c411.076%2c497.428%2c339.631%2c462.931%2c279.919C428.451%2c220.237%2c365.774%2c186.494%2c297.034%2c181.435C216.628%2c175.517%2c127.644%2c185.023%2c82.659%2c251.93C33.416%2c325.17%2c38.797%2c422.889%2c83.547%2c498.957C127.681%2c573.977%2c210.196%2c622.251%2c297.034%2c616.332' fill='rgba(40%2c 52%2c 68%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M425.7%2c2613.693C483.002%2c2615.583%2c542.445%2c2597.63%2c572.463%2c2548.783C603.716%2c2497.927%2c600.201%2c2432.167%2c568.233%2c2381.758C538.307%2c2334.568%2c481.579%2c2317.39%2c425.7%2c2317.354C369.743%2c2317.317%2c311.241%2c2333.354%2c282.845%2c2381.571C254.109%2c2430.366%2c265.122%2c2491.396%2c294.802%2c2539.623C322.965%2c2585.385%2c371.995%2c2611.921%2c425.7%2c2613.693' fill='rgba(40%2c 52%2c 68%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M563.924%2c1991.576C729.818%2c1995.755%2c898.257%2c1922.565%2c975.085%2c1775.473C1047.717%2c1636.414%2c983.932%2c1476.723%2c903.051%2c1342.294C825.429%2c1213.282%2c714.376%2c1097.889%2c563.924%2c1092.099C404.43%2c1085.961%2c255.172%2c1175.532%2c176.358%2c1314.328C98.485%2c1451.466%2c108.815%2c1618.744%2c187.146%2c1755.622C266.033%2c1893.473%2c405.147%2c1987.576%2c563.924%2c1991.576' fill='rgba(40%2c 52%2c 68%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1070'%3e%3crect width='1920' height='5000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.onscrollNav {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    border: white;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}
.custom-shape-divider-top-1632661703 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1632661703 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 172px;
}

.custom-shape-divider-top-1632661703 .shape-fill {
    fill: rgb(40, 52, 68);
}

.custom-shape-divider-bottom-1632661298 {
    position: absolute;
    bottom: 100;
    left: 100;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632661298 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1632661298 .shape-fill {
    fill: rgb(40, 52, 68);
}

